# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# Mac desktop service store files
.DS_Store

# Windows image file caches
Thumbs.db
ehthumbs.db

# Visual Studio Code
.vscode/

# Jetbrains
.idea/

# SASS Compiler cache
.sass-cache